@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
  }
  
  .material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
  }
  
  .mdl-demo {
    .hh{}
    .dropdown-trigger>span:after {
        font-size: 18px;
        color: gold;
      }
    .toggle {
      font: normal normal normal 24px/1 "Material Icons";
      color: #21179F;
      white-space: pre;
      margin-right: 4px;
      cursor: pointer;
    }
    .toggle:after {
      content: "";
      padding: 5px 0 0 0;
    }
    .toggle.collapsed::after {
      cursor: pointer;
      content: "\E5CF";
      vertical-align: middle;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      padding: 5px 0 0 5px;
      float: right;
    }
    .toggle.expanded::after {
      cursor: pointer;
      content: "\E5CE";
      vertical-align: middle;
      float: right;
    }
    /* checkbox styles */
    .checkbox-item {
      position: relative;
      width: 1rem;
      height: 1rem;
      margin-right: 0.75rem;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: 0;
      vertical-align: middle;
    }
    .checkbox-item:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      border: 2px solid lawngreen;
      transition: all 0.3s ease-in-out;
    }
    .checkbox-item:checked:before {
      height: 50%;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      border-top-style: none;
      border-right-style: none;
      border-color: #2196f3;
    }
    .tag {
      background-color: #9f172b;
      border: 1px solid ;
      color:white;
      font-size: 1.2rem;
      padding: 0.2rem 0.5rem;
      border-radius: 5px;
      display: inline-block;
    }
    .tag-remove {
      color: white;
      padding: 0.2rem 0rem 0.2rem 0.8rem;
      font-size: 100%;
      line-height: 100%;
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: none;
    }
    .tag-remove.readOnly {
      cursor: not-allowed;
    }
    .node>label {
      cursor: pointer;
      margin-left: 2px;
    }
    .tag-list {
      display: inline;
      padding: 0;
      margin: 0;
    }
    .tag-item {
      display: inline-block;
      margin: 4px;
    }
    .tag-item .search {
      border: none;
      border: 2px solid rgb(9, 0, 128);
      border-radius: 5px;
      padding:0.2rem 0.5rem;
      outline: none;
    }
    .tag-item:last-child {
      margin-right: 4px;
    }
    .node {
      list-style: none;
      white-space: nowrap;
      padding: 4px;
    }
    .node.leaf.collapsed {
      display: none;
    }
    .node.disabled>* {
      color: rgb(231, 194, 9);
      cursor: not-allowed;
    }
    .node.match-in-children.hide .node-label {
      opacity: 0.5;
    }
    .searchModeOn .toggle {
       display: none;
    }
    .checkbox-item.simple-select {
       display: none;
    }
    .hide:not(.match-in-children) {
      display: none;
    }
    .dropdown {
      position: relative;
      display: table;
    }
    .dropdown .dropdown-trigger {
      padding: 4px;
      line-height: 20px;
      max-height: 200px;
      display: inline-block;
      overflow: auto;
      border: 3px solid var(--btn-info);
    }
    .dropdown .dropdown-trigger.arrow {
      cursor: pointer;
    }
    .dropdown .dropdown-trigger.arrow.bottom:after {
      content: "\25BC";
      vertical-align: middle;
      color: #21179F;
      margin-right: 2px;
    }
    .dropdown .dropdown-trigger.arrow.top:after {
      content: "\25B2";
      vertical-align: middle;
      color: #21179F;
      margin-right: 2px;
    }
    .dropdown .dropdown-trigger.arrow.disabled {
      cursor: not-allowed;
    }
    .dropdown .dropdown-trigger.arrow.disabled.bottom:after {
      color: orangered;
    }
    .dropdown .dropdown-content {
      position: absolute;
      padding: 4px;
      z-index: 1;
      font-size: 1.2rem;
      background: lightskyblue;
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
    }
    .dropdown .dropdown-content ul {
      margin: 0;
      padding: 0;
    }
  }
  
  .special {
    color: green;
    background: pink;
  }